* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}

.input_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input[type="text"] {
    max-width: 320px;
    padding: 10px 20px;
    outline: none;
    color: black;
    font-size: 18px;
}

.input_box button {
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    color: #000000;
    cursor: pointer;
}

.task_container {
    width: 100%;
}

.task_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    padding: 15px 20px;
    margin: 0 auto;
    background-color: rgb(22, 12, 19);
    margin-bottom: 10px;
}
.task.completed{
    text-decoration:line-through;
}

.task_box .icons span {
    margin-left: 10px;
    cursor: pointer;
}