* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 160px;
    color: #fff;
}

.banner {
    width: 100%;
    height: 120px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 15px;
    padding: 0 30px;
    background-color: #7EB5EA;
    flex-wrap: wrap;
    color: #333;
}

nav>h3 {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

nav .dropdown {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;

}
.nav-link{
    height: 100%;
    display: flex;
    align-items: center;
}

nav .dropdown:hover,
h3:hover {
    background-color: #C8E53A;
}
.nav-link.active{
    background-color: #C8E53A;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 2;
    border: 0.5px solid #d5d5d5;
}

.dropdown-content a {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.dropdown-content.active{
    display: block;
}

a span i {
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: #C8E53A;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-sub-content {
    display: none;
    position: absolute;
    left: 120px;
    top: 60px;
    padding: 10px 0;
    width: 100%;
    z-index: 2;
    border: 0.5px solid #d5d5d5;

}

.dropdown-sub-content a {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    font-size: 20px;

}
.dropdown-content:hover .dropdown-sub-content{
    display: block;
}