* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    text-align: center;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.25)
}

nav h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

.input_elem {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

label {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1.5px solid #333;
    margin-bottom: 20px;
}

button {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 22px;
    background-color: #1172da;
    border-radius: 6px;
    border: none;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0a63c2;
}

ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

ul li {
    font-size: 0.88rem;
    list-style: none;

}

ul p {
    font-weight: bold;
    font-size: 0.98rem;
}

@media (max-width:600px) {
    ul{

    flex-direction: column;
    margin:0;
    }
}